<%= simple_form_for(@firmas_tipos_documento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :grupo_empresa  %>
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
    <%= f.input :aceptado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
