<h1>Editing Firmas Tipos Documento</h1>

<%= render 'form', firmas_tipos_documento: @firmas_tipos_documento %>

<%= link_to 'Show', @firmas_tipos_documento %> |
<%= link_to 'Back', firmas_tipos_documentos_path %>
