<p id="notice"><%= notice %></p>

<h1>Firmas Tipos Documentos</h1>

<table>
  <thead>
    <tr>
      <th>Grupo empresa</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Aceptado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firmas_tipos_documentos.each do |firmas_tipos_documento| %>
      <tr>
        <td><%= firmas_tipos_documento.grupo_empresa_id %></td>
        <td><%= firmas_tipos_documento.nombre %></td>
        <td><%= firmas_tipos_documento.descripcion %></td>
        <td><%= firmas_tipos_documento.aceptado %></td>
        <td><%= link_to 'Show', firmas_tipos_documento %></td>
        <td><%= link_to 'Edit', edit_firmas_tipos_documento_path(firmas_tipos_documento) %></td>
        <td><%= link_to 'Destroy', firmas_tipos_documento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firmas Tipos Documento', new_firmas_tipos_documento_path %>
