<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo empresa:</strong>
  <%= @firmas_tipos_documento.grupo_empresa_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @firmas_tipos_documento.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @firmas_tipos_documento.descripcion %>
</p>

<p>
  <strong>Aceptado:</strong>
  <%= @firmas_tipos_documento.aceptado %>
</p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Firmas tipos documentos</th>
      <th>Lleva firma</th>
      <th>Tipo</th>
      <th>Paso aceptado</th>
      <th>Texto aceptado</th>
      <th>Paso no aceptado</th>
      <th>Texto no aceptado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firmas_tipos_documentos.firmas_flows.each do |firmas_flow| %>
      <tr>
        <td><%= firmas_flow.user_id %></td>
        <td><%= firmas_flow.firmas_tipos_documentos_id %></td>
        <td><%= firmas_flow.lleva_firma %></td>
        <td><%= firmas_flow.tipo %></td>
        <td><%= firmas_flow.paso_aceptado %></td>
        <td><%= firmas_flow.texto_aceptado %></td>
        <td><%= firmas_flow.paso_no_aceptado %></td>
        <td><%= firmas_flow.texto_no_aceptado %></td>
        <td><%= link_to 'Show', firmas_flow %></td>
        <td><%= link_to 'Edit', edit_firmas_flow_path(firmas_flow) %></td>
        <td><%= link_to 'Destroy', firmas_flow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_firmas_tipos_documento_path(@firmas_tipos_documento) %> |
<%= link_to 'Back', firmas_tipos_documentos_path %>
