<%= simple_form_for(@factura) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :numero %>
    <%= f.input :fecha %>
    <%= f.input :nit_cliente %>
    <%= f.input :nombre_cliente %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
