 	<tr >
        <td><%= factura_detalle.factura_id %></td>
        <td><%= factura_detalle.producto.nombre %></td>
        <td><%= factura_detalle.cantidad %></td>
        <td><%= factura_detalle.precio %></td>
        <td><%= factura_detalle.total %></td>
        <td><%= link_to 'Show', factura_detalle %></td>
        <td><%= link_to 'Edit', edit_factura_detalle_path(factura_detalle) %></td>
        <td><%= link_to 'Destroy', factura_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>