<p id="notice"><%= notice %></p>

<h1>Facturas</h1>
<div class="table responsive">
<table class="table table-bordered table-striped table-hover" id='facturas'>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Nit cliente</th>
      <th>Nombre cliente</th>
      <th>Total</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.numero %></td>
        <td><%= factura.fecha %></td>
        <td><%= factura.nit_cliente %></td>
        <td><%= factura.nombre_cliente %></td>
        <td><%= factura.total %></td>
        <td>
        <%= link_to 'Ver detalle', factura, class: 'btn btn-default fa fa-eye' %>
        <%= link_to 'Destroy', factura, class: 'btn btn-danger fa fa-close', method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#facturas').DataTable();
});
</script>

<br>

<%= link_to 'New Factura', new_factura_path %>
