
 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta charset="utf-8">
</head>
<body>
<h1 align="center"> FACTURA NO <%= @factura.numero %> </h1>
  <div class="row">
    <div class="col-sm-2">
      <h4>
      <strong>Factura No: <%= @factura.numero %></strong>
      </h4>
    </div>
    <div class="col-sm-2">
    <h4>
      <strong>Nit: <%= @factura.nit_cliente %></strong>
    </h4>
    </div>
    <div class="col-sm-2">
    <h4>
      <strong>Nombre: <%= @factura.nombre_cliente %></strong>
    </h4>
    </div>
    <div class="col-sm-1">
    <h4>
      <strong><%= @factura.fecha %></strong>
    </h4>
    </div>
  </div>
<br>
	<table class="table table-bordered">
	<thead>
	<tr>
	  <th>Producto</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Total</th>
	</tr>
	</thead>

	<tbody>
    <% @factura.facturas_detalles.each do |factura_detalle| %>
      <tr>
            <td><%= factura_detalle.producto.descripcion if factura_detalle.producto %></td>
            <td><%= factura_detalle.cantidad %></td>
            <td><%= factura_detalle.precio %></td>
            <td><%= factura_detalle.total %></td>
       

      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td><strong id="total"> <%= @factura.total %></strong></td>

      </tr>
    
    </tbody>
	</table>
   
</body>
</html> 