<div class="container">
<div class="row">
<div class="col-sm-2"> </div>
<div class="col-sm-8">
<p id="notice"><%= notice %></p>
<div id="error" class="hidden">Nuevo Producto agregado exitosamente a la factura</div>
<div class="container">

<div class="row">

<div class="col-sm-2">
  <h4>
  <strong>Factura No: <%= @factura.numero %></strong>

  
  </h4>
</div>

<div class="col-sm-2">
<h4>
  <strong>Nit: <%= @factura.nit_cliente %></strong>
</h4>
</div>
<div class="col-sm-2">
<h4>
  <strong>Nombre: <%= @factura.nombre_cliente %></strong>
  
</h4>
</div>

<div class="col-sm-1">
<h4>
  <strong><%= @factura.fecha %></strong>
</h4>
</div>
</div>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Detalle de la Factura</h4> <!-- COPIO LA TABLA DEL DETALLE FACTURA --></div>
  <div class="panel-body">
    
    <table class="table table-bordered table-hover table-striped table-condenced" id="detalle">
      <thead>
        <tr>
          
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @factura.facturas_detalles.each do |factura_detalle| %>

          <tr id="detalle_fila_<%=factura_detalle.id %>">
            
            <td><%= factura_detalle.producto.descripcion if factura_detalle.producto %></td>
            <td><%= factura_detalle.cantidad %></td>
            <td><%= factura_detalle.precio %></td>
            <td><%= factura_detalle.total %></td>
            <td><%= link_to 'Eliminar',  factura_detalle, remote: true, :method => :delete, data: {confirm: "Desea eliminar el detalle de : #{factura_detalle.producto.descripcion} #{factura_detalle.precio}"}, class: 'btn btn-danger fa fa-close' %></td>

          </tr>

        <% end %>
        <%= render '/facturas_detalles/form', factura_detalle: @factura_detalle %> <!-- RENDERISO EL FORMUULARIO DETALLE FACTURA -->
       
         
      </tbody>
    </table>
        <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <h4>Total:
            <strong id="total"> <%= @factura.total %></strong>
            </h4>
        </div>
        </div>
            
     
  </div>
</div>


<h4 align="right">
  
  <a href="<%= @factura.id %>.xls" class="btn btn-success">  <span class="fa fa-file-excel-o"></span> <strong>GENERAR EXCEL </strong> </a>
  <a href="<%= @factura.id %>.pdf" class="btn btn-danger">  <span class="fa fa-file-pdf-o"></span> <strong>GENERAR PDF </strong> </a>
  
</h4>


<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
</div>
<div class="col-sm-2"></div>
</div>
</div>
