<p id="notice"><%= notice %></p>

<h1>Grupo Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_empresas.each do |grupo_empresa| %>
      <tr>
        <td><%= grupo_empresa.nombre %></td>
        <td><%= grupo_empresa.direcion %></td>
        <td><%= link_to 'Show', grupo_empresa %></td>
        <td><%= link_to 'Edit', edit_grupo_empresa_path(grupo_empresa) %></td>
        <td><%= link_to 'Destroy', grupo_empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo Empresa', new_grupo_empresa_path %>
