<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @grupo_empresa.nombre %>
</p>

<p>
  <strong>Direcion:</strong>
  <%= @grupo_empresa.direcion %>
</p>

<%= link_to 'Edit', edit_grupo_empresa_path(@grupo_empresa) %> |
<%= link_to 'Back', grupo_empresas_path %>
