<%= form_for(@customer, remote: true, :html => { :role => "form" }) do |f| %>

<div id="error_explanation" class="bg-danger text-danger">
  
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :first_name, :class => "control-label" %>
    <%= f.text_field :first_name, :class => "form-control first_input"  %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => "control-label" %>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => "control-label" %>
    <%= f.text_field :phone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "control-label" %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  
</div>

<div class="col-sm-6">
  <div class="form-group">
    <%= f.label :street, :class => "control-label" %>
    <%= f.text_field :street, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :zip, :class => "control-label" %>
    <%= f.text_field :zip, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => "control-label" %>
    <%= f.text_field :city, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit  @customer.new_record? ? "Create Create" : "Update Customer", :class => "btn btn-primary" %>
  </div>
</div>
</div>


<% end %>
