<%= simple_form_for(@firmas_flow) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
     <%= f.association :user  %>
    <%= f.input :firmas_tipos_documentos_id %>
    <%= f.association :firmas_tipos_documento %>
    <%= f.input :lleva_firma %>
    <%= f.input :tipo %>
    <%= f.input :paso_aceptado %>
    <%= f.input :texto_aceptado %>
    <%= f.input :paso_no_aceptado %>
    <%= f.input :texto_no_aceptado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
