<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @firmas_flow.user_id %>
</p>

<p>
  <strong>Firmas tipos documentos:</strong>
  <%= @firmas_flow.firmas_tipos_documentos_id %>
</p>

<p>
  <strong>Lleva firma:</strong>
  <%= @firmas_flow.lleva_firma %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @firmas_flow.tipo %>
</p>

<p>
  <strong>Paso aceptado:</strong>
  <%= @firmas_flow.paso_aceptado %>
</p>

<p>
  <strong>Texto aceptado:</strong>
  <%= @firmas_flow.texto_aceptado %>
</p>

<p>
  <strong>Paso no aceptado:</strong>
  <%= @firmas_flow.paso_no_aceptado %>
</p>

<p>
  <strong>Texto no aceptado:</strong>
  <%= @firmas_flow.texto_no_aceptado %>
</p>

<%= link_to 'Edit', edit_firmas_flow_path(@firmas_flow) %> |
<%= link_to 'Back', firmas_flows_path %>
