 	<tr id="detalle_fila_<%=@factura_detalle.id %>">

            
            <td><%= @factura_detalle.producto.descripcion if @factura_detalle.producto.descripcion %></td>
            <td><%= @factura_detalle.cantidad %></td>
            <td><%= @factura_detalle.precio %></td>
            <td><%= @factura_detalle.total %></td>
            <td><%= link_to 'Eliminar',  @factura_detalle, remote: true, :method => :delete, data: {confirm: "Desea eliminar el detalle de : #{@factura_detalle.producto.descripcion} #{@factura_detalle.precio}"}, class: 'btn btn-danger fa fa-close' %></td>
             
        

      </tr>