<%= simple_form_for(@factura_detalle, remote: true)do |f| %>
  <%= f.error_notification %>

 
    <div id="frm-detalle">
    <%= f.input :factura_id, as: :hidden %>

    <td>
    <%= f.association :producto  %>
    </td>
    <td>
    <%= f.input :cantidad %>
    </td>
    <td>
    <%= f.input :precio, input_html: { readonly: true} %>
    </td>
    <td>
    <%= f.input :total, input_html: { readonly: true} %> <!-- ESTE VALOR ESTA DE SOLO LECTURA-->
    </td>
    <td>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-success fa fa-check' %>
    </div>
    </td>
    </div>
    
<% end %>

<script>
function calcula_total()
{
   total= $( "#factura_detalle_cantidad" ).val()* $( "#factura_detalle_precio" ).val()
    $( "#factura_detalle_total" ).val(total);
}

  $( "#factura_detalle_producto_id" ).change(function() {
      
      $.get( "/productos/"+$(this).val() +".json", function( data ) {          
           $( "#factura_detalle_precio" ).val(data.precio)
        });

      calcula_total();

    });

   $( "#factura_detalle_cantidad" ).change(function() {
       calcula_total();
    });
      
      
</script>

