
$('#detalle tbody tr:last').before("<%= j render 'facturas_detalles/fila_nueva.html.erb' %>").fadeIn();
$('#factura_detalle_producto_id').val('');
$('#factura_detalle_cantidad').val('');
$('#factura_detalle_precio').val('');
$('#factura_detalle_total').val('');
$('#total').html("<%= @factura_detalle.factura.total %>");
alert('agregado exitosamente el producto <%=@factura_detalle.producto.descripcion%>');





