<p id="notice"><%= notice %></p>

<h1>Facturas Detalles</h1>

<table>
  <thead>
    <tr>
      <th>Factura</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas_detalles.each do |factura_detalle| %>
      <tr>
        <td><%= factura_detalle.factura_id %></td>
        <td><%= factura_detalle.producto_id %></td>
        <td><%= factura_detalle.cantidad %></td>
        <td><%= factura_detalle.precio %></td>
        <td><%= factura_detalle.total %></td>
        <td><%= link_to 'Show', factura_detalle %></td>
        <td><%= link_to 'Edit', edit_factura_detalle_path(factura_detalle) %></td>
        <td><%= link_to 'Destroy', factura_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factura Detalle', new_factura_detalle_path %>
