<p id="notice"><%= notice %></p>
<br>
<h1 align="center">Productos</h1>
<center>
<%= link_to 'Nuevo producto', new_producto_path, class: 'btn btn-primary fa fa-plus', title: 'Agregar nuevo producto' %> 
<a href="/productos.xls" class="btn btn-success fa fa-file-excel-o" title="generar un excel"> Excel </a>
</center>
<br>
<div class="table-responsive">
<table class="table table-hover table-bordered" id="myTable">
  <thead>
    <tr>
      <th><strong><center>Imagen</strong></center></th>
      <th><strong><center>Codigo</strong></center></th>
      <th><strong><center>Descripcion</strong></center></th>
      <th><strong><center>Precio</strong></center></th>
      <th><strong><center>Observaciones</strong></center></th>
      <th><strong><center>Activo</strong></center></th>
      <th><strong><center>Catalogo</strong></center></th>
      <th><strong><center>Opciones </strong></center></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><img src="<%= producto.imagen %>" width="50" height="50" title="imagen del producto"></td>
        <td><%= producto.codigo %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.observaciones %></td>
        <% if producto.activo == true %>
          <td> ACTIVO</td>
        <% else %>
          <td>INACTIVO</td>
        <% end %>
        <td> <%= link_to 'Descargar', muestra_pdf_producto_path(producto) , class: 'btn btn-primary fa fa-download', title: 'Descargar detalles del producto' %> </td>
        <td><%= link_to 'Detalles', producto, class: 'btn btn-default fa fa-eye', title: 'ver los detalles del producto' %>
        <%= link_to 'Editar', edit_producto_path(producto) , class: 'btn btn-warning fa fa-edit',title: 'editar el producto' %>
        <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Esta seguro?' } , class: 'btn btn-danger fa fa-close', title: 'Eliminar el producto' %>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

