
 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta charset="utf-8">
</head>
<body>
<h1 align="center"> PRODUCTOS DISPONIBLES </h1>
	<table class="table table-bordered">
	<thead>
	<tr>
		<th>imagen</th>
		<th>codigo</th>
		<th>descripcion</th>
		<th>precio</th>
		<th>observaciones</th>
		<th>estado</th>
		
	</tr>
	</thead>

	<tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><img src="<%= producto.imagen %>"></td>
        <td><%= producto.codigo %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.observaciones %></td>
        <% if producto.activo == true %>
          <td> ACTIVO</td>
        <% else %>
          <td>INACTIVO</td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
	</table>
</body>
</html> 