<!-- Footer -->
<div class="container">
  
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; Infile 2017</p>
          </div>
      </div>
  </footer>
</div>
<!-- /.container -->
